<form {{action 'save' on='submit'}}>
	<p>
		<label for="">First Name:
			{{input value=firstName}}
		</label>
	</p>
	<p>
		<label for="">Last Name:
			{{input value=lastName}}
		</label>
	</p>
	<p>
		<label for="">Email:
			{{input value=email}}
		</label>
	</p>
	<p>
		<label for="">twitter:
			{{input value=twitter}}
		</label>
	</p>
	<input type="submit" value="Save" />
	<button {{action 'cancel'}}>Cancel</button>
</form>